<div class="d-flex">

    <div class="bg-white shadow-sm p-4 d-flex flex-column justify-content-between" style="width: 260px;">
        <div>
            <a routerLink="/consultant/consultantdashboard" class="btn btn-outline-primary w-100 mb-3">🏠 Dashboard</a>
            <!-- <a routerLink="/consultant/session" class="btn btn-outline-primary w-100 mb-3">📥 Requests</a> -->
            <a routerLink="/consultant/myBookings" class="btn btn-outline-primary w-100 mb-3">📅 My Bookings</a>
            <a routerLink="/consultant/consultantPayment" class="btn btn-outline-primary w-100 mb-3">💳 Payments</a>

            <button class="btn btn-outline-danger w-100 mt-3" (click)="logout()">🔓 Logout</button>
        </div>
    </div>


    <div class="flex-grow-1">
    <!-- Top Navbar -->
    <div class="p-4 ">
  <div class="mx-auto" style="max-width: 700px;">
    <router-outlet></router-outlet>
  </div>
</div>

  </div>

</div>